<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="startup.excited.salon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterial" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
	    android:theme="@android:style/Theme.Material.Light.NoActionBar"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SpaList"
            android:label="SpaList"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/MyMaterialWithActionBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity2Activity"
            android:label="@string/title_activity_main_activity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetailedShop"
            android:label="@string/title_activity_detailed_shop"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name=".IndAppoint"
            android:label="@string/title_activity_ind_appoint" >
        </activity>
<activity
            android:name=".BeautyTipsActivity"
            android:theme="@style/MyThemeWithActionBar"
           >
        </activity>
    </application>

</manifest>
